header {
  position: relative;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/backgrounds/mobile-banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.733);
}

#logo {
  width: 60%;
  height: auto;
}

#date {
  font-size: 2.5vw;
}

#countdown {
  font-size: 3.5vw;
}

#date,
#countdown {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .3em;
  font-weight: 300;
}

@media screen and (max-width: 640px) {
  header {
    height: 90dvh;
  }
  
  #logo {
    width: 100%;
  }

  #countdown {
    font-size: 3.6vh;
    padding: 1vh;
  }

  #date {
    font-size: 2.6vh;
    padding: 1vh;
  }
}

@media screen and (min-width: 641px) {
  header {
    background-image: url(../../assets/backgrounds/desktop-banner.webp);
  }
}