@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');
@font-face {
  font-family: "Ninja Naruto";
  src: url('./Font/njnaruto.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  background-color: #24262E;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
}

h3 {
  text-align: center;
  font-size: 2vw;
  letter-spacing: .2em;
  background-color: #171414;
  color: white;
  font-weight: 300;
  position: sticky;
  top: 10dvh;
  z-index: 2;
}

h4 {
  font-size: 3vw;
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: 4vh;
  }

  h4 {
    font-size: 3vh;
  }
}