* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
}

main {
  background-color: #24262e;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
}

p {
  font-weight: 300;
}

strong {
  font-weight: 400;
}

h3 {
  font-size: 2vw;
  letter-spacing: 0.2em;
  background-color: #171414;
  color: white;
  font-weight: 300;
  position: sticky;
  top: 10dvh;
  z-index: 2;
}

h4 {
  font-size: 3vw;
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: 4vh;
    top: 0;
  }

  h4 {
    font-size: 3vh;
  }
}