#supporters {
  display: flex;
  justify-content: space-around;
  height: 30vh;
  gap: 2em;
  padding: 2em;
}

#supporters img {
  width: 25%;
}

@media screen and (max-width: 640px) {
  #supporters {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-height: 100dvh;
    min-height: 60dvh;
  }

  #supporters img {
    width: 80%;
  }
}