nav {
  height: 10dvh;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  padding-inline: 10em;
  gap: 2em;
  align-items: center;
  background-color: #171414;
}

nav a {
  color: white;
  text-decoration: none;
  letter-spacing: .1em;
  flex: 1;
  text-align: center;
  transition: .2s linear;
}

nav a:hover {
  color: #cc1616;
}

@media screen and (max-width: 640px) {
  nav {
    height: 10dvh;
    padding-inline: 2em;
    justify-content: space-evenly;
  }

  nav a {
    font-size: 3.2vw;
    font-weight: 600;
  }
}

@media screen and (max-height: 640px) {
  nav {
    padding-inline: 2em;
  }

  nav a {
    font-size: 3.6vh;
  }
}