nav {
  height: 10dvh;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding-inline: 10em;
  gap: 2em;
  align-items: center;
  background-color: #171414;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1em;
  flex: 1;
  text-align: center;
}